# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/.bash_profile

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


/web3service/node_modules/
/web3service/contracts/
web3service/contracts
web3service/main.js
web3service/main.js.map
/web3service/Participant.js
/web3service/Pension.js
/web3service/Supplier.js
/web3service/Web3Service.js
!/web3service/Participant.js.map
!/web3service/Pension.js.map
/web3service/Supplier.js.map
/web3service/Web3Service.js.map
/web3service/Participant.js.map
/web3service/Pension.js.map
/web3service/build/
