<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<div class="bg"></div>

<ion-content>
  <img class="header-logo" src="/assets/img/logo.png" alt="" />
  <div class="wrapper">

    <!-- Personal data card -->
    <ion-card class="transparant">
      <ion-card-header class="transparant">
        <div class="section-label bgblue white">YOUR DETAILS</div>
      </ion-card-header>
      <ion-card-content class="semitransparant">
        <div class="card-row">
          <span class="description white small">NAME</span>
          <span class="white big">{{participant.name}}</span>
        </div>
        <div class="card-row">
          <span class="description white small">AGE</span>
          <span class="age white medium">{{participant.age}} years old</span>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Current pension card -->
    <ion-card class="transparant">
      <ion-card-header class="transparant">
        <div class="section-label bgred white">CURRENT PENSION STATUS</div>
      </ion-card-header>
      <ion-card-content class="semitransparant">
        <div>
            <span class="white small">ENTITLEMENT AT AGE 67</span>

            <div class="card-row space-between">
              <span class="white big" *ngIf="showYearly">&euro; {{pensionServiceProvider.currentEntitlementPerYear}} per year</span>
              <span class="white big" *ngIf="!showYearly">&euro; {{pensionServiceProvider.currentEntitlementPerMonth}} per month</span>
            
              <!-- Toggle -->
              <div class="toggle">
                <span class="white small">MONTHLY</span>
                <ion-item>
                  <ion-toggle [(ngModel)]="showYearly" checked="false"></ion-toggle>
                </ion-item>
                <span class="white small">YEARLY</span>
              </div>

            </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Timeline -->
    <div class="age-indicator">
      <div class="balloon first bgblue">
        <span>Started</span>
      </div>
      <div class="balloon second bgorange">
        <span>You are here</span>
      </div>
      <div class="balloon third bgred">
        <span>Age 67</span>
      </div>
      <div class="timeline">
        <span class="dot first"></span>
        <span class="dot second"></span>
        <span class="dot third"></span>
      </div>
    </div>

    <!-- Personal budget card -->
    <ion-card class="transparant">
      <ion-card-header class="transparant">
        <div class="section-label bgorange white">PERSONAL BUDGET</div>
      </ion-card-header>
      <ion-card-content class="semitransparant">
        <span class="white big">&euro; {{pensionServiceProvider.maxPossibleLumpsum}},-</span>
        <span class="white small">MAXIMUM</span>
        <ion-item>
          <ion-range min="0" pin="true" step="100" max="{{pensionServiceProvider.maxPossibleLumpsum}}" (ionChange)="changeLumpsum()" [(ngModel)]="lumpsum" color="secondary">
            <ion-label range-left>&euro; 0</ion-label>
            <ion-label range-right>&euro; {{pensionServiceProvider.maxPossibleLumpsum}},-</ion-label>
          </ion-range>
        </ion-item>
        <span class="white small"> YOUR NEW ENTITLEMENT AT 67</span>
        <span class="white big" *ngIf="showYearly">&euro; {{pensionServiceProvider.newEntitlementPerYear}} per year</span>
        <span class="white big" *ngIf="!showYearly">&euro; {{pensionServiceProvider.newEntitlementPerMonth}} per month</span>
        <button class="pullright" ion-button color="grey" (click)="continue()">CONTINUE</button>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
